body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 20pt;
  font-weight: normal;
  background: lightblue; 
  background: -webkit-linear-gradient(
    -90deg,
    lightblue,
    black
  ); 
  background: -o-linear-gradient(
    -90deg,
    lightblue,
    black
  ); 
  background: -moz-linear-gradient(
    -90deg,
    lightblue,
    black
  ); 
  background: linear-gradient(-90deg, lightblue, black);
}

.main {
  margin: 100px auto;
  text-align: center;
  width:400px;
  height:4000px;
}
.main .dis{
  border : 2px dashed lightblue;
  border-radius: 50px;
}
button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  border: 1px solid lightblue;
  color: lightblue;
  border-radius: 100px;
}
.main h1{
  font-size: 1000px;
  color: white;
  padding: 20px;
  background: transparent;
  text-shadow: 1px 1px 1px #202020;
  font-family: "Lato", sans-serif;
  font-size: 18pt;

  color: lightblue;
}
